.logo {
    font-size: 24px;
    color: #0088cc;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 6px;
    display: block;
    float: left;
}

nav {
    font-size: 16px;
    line-height: 22px;
    float: right;
    padding-top: 10px;
}

nav ul {
}

nav ul li {
    float: left;
    list-style: none;
    margin-left: 10px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    line-height: 20px;
}

nav ul li a:hover, nav ul li.active a {
    color: #0088cc;
}
